/* reset */
p {
  margin: 0;
}

/* word animations */
@keyframes show{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

w {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: backwards;
}

.w1 {
  animation-delay: 1s;
}
.w2 {
  animation-delay: 1.2s;
}
.w3 {
  animation-delay: 1.4s;
}
.w4 {
  animation-delay: 1.6s;
}
.w5 {
  animation-delay: 1.8s;
}
.w6 {
  animation-delay: 2.0s;
}
.w7 {
  animation-delay: 2.2s;
}
.w8 {
  animation-delay: 2.4s;
}
.w9 {
  animation-delay: 2.6s;
}
.w10 {
  animation-delay: 2.8s;
}
.w11 {
  animation-delay: 3.0s;
}
.w12 {
  animation-delay: 3.2s;
}
.w13 {
  animation-delay: 3.4s;
}
.w14 {
  animation-delay: 3.6s;
}
.w15 {
  animation-delay: 3.8s;
}
.w16 {
  animation-delay: 4.0s;
}
.w17 {
  animation-delay: 4.2s;
}
.w18 {
  animation-delay: 4.4s;
}
.w19 {
  animation-delay: 4.6s;
}
.w20 {
  animation-delay: 4.8s;
}
.w21 {
  animation-delay: 5.0s;
}
/* end animations */

.yellow {
  color: #fee854;
}

.kv {
  width: 100%;
  background-color: #fee854;
  overflow: hidden;
}

.kv-content {
  max-width: 1366px;
  margin: auto;

  position: relative;
  padding-top: 36.6%;
}

@media (min-width: 1366px) {
  .kv-content {
    padding-top: 500px
  }
}

.kv img {
  width: 100%;
}

.kv-content div {
  position: absolute;
}

.kv-1 {
  width: 11.5%;
  left: 32.7%;
  top: 0%;
  z-index: 1;
}

.kv-2 {
  width: 28.2%;
  left: 26%;
  top: 18%;
  z-index: 1;
}

.kv-hand {
  width: 2.7%;
  left:43%;
  top: 32%;
  z-index: 1;
}

.kv-3 {
  width: 23.3%;
  left: 27.6%;
  top: 42%;
  z-index: 1;
}

.kv-4 {
  width: 28.6%;
  left: 25.1%;
  top: 62%;
  z-index: 1;

  min-width: 242px;
}

.kv-6 {
  width: 28.6%;
  left: 24.6%;
  top: 61%;
  z-index: 1;

  min-width: 242px;
}

.kv-message {
  color: white;
  font-size: 1.4vw;
  width: 40%;
  top: 62%;
  left: 25.7%;
  z-index: 1;
}

.kv-message .larger {
  font-size: 2vw;
}

@media (min-width: 1366px) {
  .kv-message {
    font-size: 19px;
  }
  .kv-message .larger {
    font-size: 25px;
  }
}

.kv-5 {
  width: 72.9%;
  left: 14.6%;
  top: 2.6%;
  z-index: 0;
}

/* s1 */
.s1 {
  width: 100%;
}

.s1-content {
  max-width: 1366px;
  margin: auto;
}

.s1-row {
  display: flex;
  align-items: flex-start;

  padding-top: 40px;
  margin-left: 23%;
  margin-right: 23%;
}

.s1 .gray-zone {
  background-color: #f4f4f4;
  border: solid 1px #231815;
  box-shadow: 7px 7px 0px rgb(0 0 0);
  padding: 10px;
}

.s1 .gray-zone p {
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 12px;
}

.s1 .dialog-triangle-zone {
  margin-left: 55%;
}

.s1 .s1-col-1 {
  width: 240px;
  padding-top: 400px;
  position: relative;
}

.s1 .s1-col-2 {
  width: 68%;

  padding-left: 30px;
}

.s1 .s1-col-1 img{
  width: 100%;
  position: absolute;
}

.s1 .s1-col-1 .img1 {
  width: 4%;
  left: 39%;
  top: 3%;
}

.s1 .s1-col-1 .img2 {
  width: 6%;
  top: 4%;
  left: 45%;
}

.s1 .s1-col-1 .img3 {
  width: 96%;
  top: 4%;
}

.s1 .s1-col-1 .img4 {
  width: 110%;
  top: 25%;
  left: -13%
}

.s1 .yellow-line1 {
  height: 20px;
  width: 265px;
  background-color: #ffea44;
  margin-top: -23px;
  margin-left: -13px;
}

.s1 .s1-list {
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 14px;
}

.s1 .s1-action-link {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 130px;
  height: 41px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  letter-spacing: 1px;
  margin-left: 15px;
}
/* end s1 */