/* reset */
p {
  margin: 0;
}

h3 {
  font-size: 36px;
}

/* word animations */
@keyframes show{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

w {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: backwards;
}

.w1 {
  animation-delay: 1s;
}
.w2 {
  animation-delay: 1.2s;
}
.w3 {
  animation-delay: 1.4s;
}
.w4 {
  animation-delay: 1.6s;
}
.w5 {
  animation-delay: 1.8s;
}
.w6 {
  animation-delay: 2.0s;
}
.w7 {
  animation-delay: 2.2s;
}
.w8 {
  animation-delay: 2.4s;
}
.w9 {
  animation-delay: 2.6s;
}
.w10 {
  animation-delay: 2.8s;
}
.w11 {
  animation-delay: 3.0s;
}
.w12 {
  animation-delay: 3.2s;
}
.w13 {
  animation-delay: 3.4s;
}
.w14 {
  animation-delay: 3.6s;
}
.w15 {
  animation-delay: 3.8s;
}
.w16 {
  animation-delay: 4.0s;
}
.w17 {
  animation-delay: 4.2s;
}
.w18 {
  animation-delay: 4.4s;
}
.w19 {
  animation-delay: 4.6s;
}
.w20 {
  animation-delay: 4.8s;
}
.w21 {
  animation-delay: 5.0s;
}
/* end animations */

.yellow {
  color: #fee854;
}

/* kv */
.kv {
  width: 100%;
  background-color: #fee854;
  overflow: hidden;
}

.kv-content {
  max-width: 1366px;
  margin: auto;

  position: relative;
  padding-top: 51.2%;
}

@media (min-width: 1366px) {
  .kv-content {
    padding-top: 700px
  }
}

.kv img {
  width: 100%;
}

.kv-content div {
  position: absolute;
}

.kv-1 {
  width: 16.2%;
  left: 25.8%;
  top: 0%;
  z-index: 1;
}

.kv-2 {
  width: 39.7%;
  left: 16.3%;
  top: 18%;
  z-index: 1;
}

.kv-hand {
  width: 3.8%;
  left:40%;
  top: 32%;
  z-index: 1;
}

.kv-3 {
  width: 32.8%;
  left: 18.3%;
  top: 42%;
  z-index: 1;
}

.kv-4 {
  width: 40.3%;
  left: 15.0%;
  top: 62%;
  z-index: 1;

  min-width: 242px;
}

.kv-6 {
  width: 40.3%;
  left: 14.4%;
  top: 61%;
  z-index: 1;

  min-width: 242px;
}

.kv-message {
  color: white;
  font-size: 1.85vw;
  width: 40%;
  top: 61.0%;
  left: 16.9%;
  z-index: 1;
}

.kv-message .larger {
  font-size: 3vw;
}

@media (min-width: 1366px) {
  .kv-message {
    font-size: 26px;
    top: 61.4%;
  }
  .kv-message .larger {
    font-size: 38px;
  }
}

.kv-5 {
  width: 99.9%;
  left: 0.1%;
  top: 4.6%;
  z-index: 0;
}

/* s1 */
.s1 {
  width: 100%;
}

.s1-content {
  max-width: 1366px;
  margin: auto;
}

.s1-row {
  display: flex;
  align-items: flex-start;

  padding-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

.s1 .gray-zone {
  background-color: #f4f4f4;
  border: solid 1px #231815;
  box-shadow: 7px 7px 0px rgb(0 0 0);
  padding: 18px;
}

.s1 .gray-zone p {
  line-height: 1.8;
  letter-spacing: 2px;
  font-size: 16px;
}

.s1 .dialog-triangle-zone {
  margin-left: 51%;
}

.s1 .s1-col-1 {
  padding-top: 529px;
  position: relative;
  flex-basis: 333px;
  flex-grow: 0;
  flex-shrink: 0;
}

.s1 .s1-col-2 {
  width: 68%;
  padding-left: 30px;
  padding-top: 12px;
}

.s1 .s1-col-2 h3 {
  margin-top: 20px;
}

.s1 .s1-col-1 img{
  width: 100%;
  position: absolute;
}

.s1 .s1-col-1 .img1 {
  width: 4%;
  left: 39%;
  top: 3%;
}

.s1 .s1-col-1 .img2 {
  width: 6%;
  top: 4%;
  left: 45%;
}

.s1 .s1-col-1 .img3 {
  width: 96%;
  top: 4%;
}

.s1 .s1-col-1 .img4 {
  width: 110%;
  top: 25%;
  left: -13%
}

.s1 .yellow-line1 {
  height: 22px;
  width: 323px;
  background-color: #ffea44;
  margin-top: -27px;
  margin-left: -13px;
}

.s1 .s1-list {
  margin-top: 19px;
  margin-bottom: 42px;
  letter-spacing: 1px;
  line-height: 38px;
  font-size: 17px;
}

.s1 .s1-action-link {
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 184px;
  height: 54px;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;
  margin-left: 15px;
}
/* end s1 */

/* s2 */
.s2 {
  width: 100%;
  background-image: url("../images/s2-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.s2-content {
  max-width: 1366px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 150px;
}

.s2-row {
  display: flex;
  margin-left: 17%;
  margin-right: 17%;
  align-items: flex-start;
}

.s2-col-1 {
  width: 60%;
}

.s2-col-2 {
  position: relative;
  padding-top: 360px;
  flex-basis: 360px;
  flex-grow: 0;
  flex-shrink: 0;
}

.s2-col-2 img {
  position: absolute;
}

.s2-col-2 .woman-img {
  top: -27%;
  left: 21%;
}

.s2-col-2 .star-small-img {
  top: 51%;
  left: 42%;
}

.s2-col-2 .star-large-img {
  top: 52%;
  left: 46%;
}

.s2-col-2 .title-img {
  top: 54%;
  left: 9%;
}

.s2 .s2-col-1 img {
  vertical-align: initial;
}

.s2 h3 {
  display: inline-block;
  margin-bottom: 0;
}

.s2 .red-dot {
  display: inline-block;
  margin-top: 5px;
}

.s2 .s2-info-row {
  display: flex;
  margin-top: 30px;
}

.s2 .s2-info-col-2 {
  padding-left: 22px;
}

.s2 .s2-info-col-2 p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 22px;
}

.s2 .yellow-line {
  height: 22px;
  background-color: #ffea44;
  margin-top: -22px;
  margin-left: -13px;
}
.s2 .yellow-line.line1 {
  width: 331px;
}

.s2 .yellow-line2.line2 {
  width: 384px;
}

.s2 .yellow-line3.lin3 {
  width: 312px;
}

.s2 .s2-action-link {
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 184px;
  height: 54px;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;

  position: absolute;
  left: 25%;
  top: 93%;
}
/* end s2 */

/* s3 */
.s3 {
  width: 100%;
  background-color: #fff5da;
}

.s3-content {
  max-width: 1366px;
  margin: auto;
  padding-top: 20px;
}

.s3-row {
  display: flex;
  align-items: flex-start;
  margin-left: 13.5%;
  margin-right: 13.5%;
}

.s3-col-1 {
  position: relative;
  padding-top: 450px;
  flex-basis: 405px;
  flex-grow: 0;
  flex-shrink: 0;
}

.s3-col-1 img {
  position: absolute;
}

.s3-col-1 .star-small{
  top: -46px;
  left: 164px;
}

.s3-col-1 .star-large{
  top: -41px;
  left: 180px;
}

.s3-col-1 .title{
  top: -33px;
  left: 53px;
}

.s3-col-1 .man{
  top: 65px;
  left: 0;
}

.s3-col-2 {
  padding-left: 40px;
}

.s3-col-2 ul{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.s3-col-2 li{
  margin-bottom: 15px;
}

.s3 .s3-action-link-container {
  padding-top: 20px;
  text-align: right;
}

.s3 .s3-action-link {
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 232px;
  height: 54px;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;
}
/* end s3 */